body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-transform: translateY(50%) ;
    -moz-transform: translateY(50%) ;
    -ms-transform: translateY(50%) ;
    -o-transform: translateY(50%) ;
}

#login-register {
    position: relative;
    background: linear-gradient(to bottom right, cyan, lightblue, lightblue);
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: space-around;
    gap: 2.5em;
    width: 25vh;
    padding: 2em 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#email, #password, #bottom {
    display: flex;
    flex-direction: column;
}
#bottom {
    justify-content: space-between;
    gap: 1.5em;
}
.input {
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 2em;
    width: 90%;
    margin-top: 1em;
    outline: none;
    align-self: center;
}
#login-register-btn {
    border: none;
    border-radius: 15px;
    background: linear-gradient(to top left, lightskyblue, lightblue);
    height: 3em;
    box-shadow: 2px 2px 2px 2px lightslategray;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#login-register-btn:hover {
    box-shadow: none;
}



