body {
    margin: 0;
    padding: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    padding: 1px 1px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn button {
    height: 4em;
    width: 100%;
}

nav {
    background-color: lightgreen;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: green
}

.show-all-data-btn, .delete-btn {
    grid-column: span 2;
}
.delete-btn btn span {
    color: red;
} /* currently not working */
.display {
    grid-column: span 2;
    height: 15rem;
    width: 100%;
}
.display textarea {
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
